```{=html}
<ul class="pub-list list">
<% for (const item of items) { %>
  <li <%= metadataAttrs(item) %>>
    <span class="listing-author"><%= item.author %></span>
    <span class="listing-year">(<%= item.year %>).</span>
    <span class="listing-title"><%= item.title %>.</span>
    <span class="listing-editors"><%= item.editors %></span>
    <span class="listing-publication fst-italic "><%= item.publication %></span>
    <span class="listing-edition"><%= item.edition %></span>
    <span class="listing-publisher"><%= item.publisher %></span><br/>
    <a href="<%- item.path %>" class="btn btn-light btn-sm">
      <i class="bi bi-info-circle"></i> Details
    </a>
    <% if (item.doi) { %>
    <a href="<%- item.doi %>" class="btn btn-light btn-sm" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-link-45deg"></i> DOI
    </a>
    <% } %>
    <% if (item.pdf) { %>
    <a href="<%- item.pdf %>" class="btn btn-light btn-sm" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-download"></i> PDF
    </a>
    <% } %>
    <% if (item.github) { %>
    <a href="<%- item.github %>" class="btn btn-light btn-sm" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-github"></i> Repository
    </a>
    <% } %>
    <% if (item.materials) { %>
    <a href="<%- item.materials %>" class="btn btn-light btn-sm" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-file-earmark-zip"></i> Repository
    </a>
    <% } %>
    <% if (item.preprint) { %>
    <a href="<%- item.preprint %>" class="btn btn-light btn-sm" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-file-earmark-text"></i> Preprint
    </a>
    <% } %>
  </li>
<% } %>
</ul>

```
